@import "reset.css";
@import "fonts/stylesheet.css";

body {
    background-color: black;
    overflow: hidden;
    font-family: 'EXCELSIORSANS';
    font-size: 100pt;
}
@-webkit-keyframes spin {
from {
    -webkit-transform: rotate(0deg);
}
to {
    -webkit-transform: rotate(360deg);
}
}
.vasa {
    color: white;
    opacity: .5;
    font-size: 180px;
    position: absolute;
    -webkit-animation-name: spin;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    outline: 0 none;
}
#logo {
    width: 50%;
    left: 10%;
    top: 0;
    position: absolute;
    display: none;
    margin-left: auto;
    margin-right: auto;
}
#top {
    width: 50%;
    left: 10%;
    top: 0;
    position: absolute;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
}
#bot {
    width: 50%;
    left: 10%;
    top: 0;
    position: absolute;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
}

#a1 {
    width: 12%;
    position: absolute;
    top: 120%;
    left: 75%
}
#a2 {
    width: 12%;
    position: absolute;
    top: 120%;
    left: 75%
}
#a3 {
    width: 12%;
    position: absolute;
    top: 120%;
    left: 75%
}
